body
{
    background-color: whitesmoke;
}
    .center
{
   position: absolute;
    top: 171px;
    left: 48%;
}
#comp
{
    background-color: #5858f4;
    border-bottom: 3px solid lightgrey;
   display: block;
    width: 55px;
    text-align: center;
    padding: 8px 15px 8px 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    border-radius: 4px;
    position: absolute;
    top: -146px;
    left: 70px;
}
.studentmarks
{
    
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    -ms-appearance : none;
    appearance : none;
    
    display: block;
    position: absolute;
    color: dimgrey;
    border-radius: 4px;
    width: 65px;
    margin: -12px 8px 10px 17px;
}

#marklist
{
        top: 115px;
    right: 70px;
    border-radius: 5px;
    border-color: dimgrey;
    border: 1px;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 450px;
}
table  , th , td
{
    width: 80%;
    margin: auto;
    border-collapse: separate;
    text-align: center;
    font-size: 15px;
    position: inherit;
    color: black;
    margin-top: 40px;
}
table
{
    box-shadow: grey;
    height:100px;
}
td
{
    padding: 20px;
    width: 40px;
    border: 2px rgb(0,0,0);
}
th
{
    padding : 30px;
    width: 40px;
    background-color: lightgrey;
}
.student
{
    height: 250px;
    background: white;
    border: 1px solid grey;
    width: 96%;
    text-align: center;
    align-content: center;
    right: 5px;
    position: inherit;
}
body
{
    margin: 0;
    padding 0;
}
#progress
{
    width: 650px;
    margin:40px auto;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    border: 1px dimgrey;
    position: absolute;
    margin-top: 15px;
    margin-left: 90px;
}
#progress1
{
    width: 33%;
    float: left;
    padding-top: 20px;
}
.chart
{
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 110px;
}
#progress1 canvas
{
    position: absolute;
    top: 0;
    left:0;
}
#progress h2
{    color: deeppink;
    display: inline;
    font-style: normal;
    font-family: monospace;
    position: inherit;
    top: -89px;
    font-size: 16px;
    left: 4px;
}
.studentmarks1
{
    
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    -ms-appearance : none;
    appearance : none;
    
    display: block;
    position: absolute;
    color: dimgrey;
    border-radius: 4px;
    width: 90px;
    margin: -21px 12px 11px 370px;
}
#details
{
        width: 650px;
    height: 260px;
    background-color: white;
    position: absolute;
    top: 300px;
    border-radius: 5px;
    left: 90px;
    text-align: 10px;
    text-indent: 179px;
}
.date
{
    
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    -ms-appearance : none;
    appearance : none;
    
    display: block;
    position: absolute;
    color: dimgrey;
    border-radius: 4px;
    width: 135px;
    margin: -21px 12px 11px 370px;
}